ion-content {
  --background: #fdf6e4;
}

ion-toolbar {
  --background: #8c7b6b;
  --color: #ffffff;
}

ion-item {
  --background: #a5b89c;
  --color: #ffffff;
  margin-bottom: 10px;
}

ion-fab-button {
  --background: #4caf50;
}